@page
@model PastryPlanet.Pages.Audit.ProductAuditModel

@{
    ViewData["Title"] = "ProductAudit";
}

<h1>ProductAudit</h1>

<p>
</p>
<table class="table" style="color:white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].QuantityInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].DateTimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAudit[0].Username)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductAudit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td class="center">
                <img src="~/@Url.Content(item.Image)" style="width: 160px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <a asp-page="./ProductAuditEdit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./ProductAuditDetails" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./ProductAuditDelete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
