@page
@model PastryPlanet.Pages.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <img class="col-sm-12 col-lg-3" src="~/@Model.Product.Image" style="object-fit: contain; width: 100%; height: 250px;" />
        <dl class="col-sm-12 col-lg-9 row">
            <dt class="col-lg-3 col-sm-4">
                @Html.DisplayNameFor(model => model.Product.Name)
            </dt>
            <dd class="col-lg-9 col-sm-8">
                @Html.DisplayFor(model => model.Product.Name)
            </dd>
            <dt class="col-lg-3 col-sm-4">
                @Html.DisplayNameFor(model => model.Product.Description)
            </dt>
            <dd class="col-lg-9 col-sm-8">
                @Html.DisplayFor(model => model.Product.Description)
            </dd>
            <dt class="col-lg-3 col-sm-4">
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd class="col-lg-9 col-sm-8">
                $@Html.DisplayFor(model => model.Product.Price)<p style="display:inline">0</p>             
            </dd>
            <dt class="col-lg-3 col-sm-4">
                @Html.DisplayNameFor(model => model.Product.QuantityInStock)
            </dt>
            <dd class="col-lg-9 col-sm-8">
                @Html.DisplayFor(model => model.Product.QuantityInStock)
            </dd>

        </dl>
    </div>
    
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
